<div class="gallery">

  <a href="#" class="disabled">
    <img src="assets/imgs/crown-only.png" />
  </a>

  {{#each images as |image index|}}
    <a
      class="lightbox"
      href="{{imgPath}}"
      data-pswp-width="{{size.width}}"
      data-pswp-height="{{size.height}}"
      target="_blank"
    >
      <img loading="lazy" width="{{size.width}}" height="{{size.height}}" src="{{imgPath}}" />
    </a>
  {{/each}}
</div>