<div class="gallery">
  <a href="#" class="disabled">
    <img src="assets/imgs/origami-crown.png" />
  </a>

  {{#each images as |image index|}}
    <a
      class="lightbox"
      href="{{image.full}}"
      data-pswp-width="{{largeSize.width}}"
      data-pswp-height="{{largeSize.height}}"
      target="_blank"
    >
      <img
        loading="lazy"
        width="{{smallSize.width}}"
        height="{{smallSize.height}}"
        src="{{image.thumb}}"
      />
    </a>
  {{/each}}
</div>